*{
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
    
}

::-webkit-scrollbar{
    height: 0;
    width: 0;
}
img{
    width: 100VW;
}

a{
    display: block;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    color: black;
    background-color: white;
    transition: 1.5s;
}